* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  --pale-gray: hsl(0, 0%, 96%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
  --f-normal: 1.125rem;
  --f-medium: 2rem;
  --f-large: 3rem;
  --fw-normal: 400;
  --fw-large: 500;
}
body {
  font-family: "DM Sans", sans-serif;
  font-size: var(--f-normal);
  font-weight: var(--fw-normal);
  background-color: var(--pale-gray);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: var(--f-large);
  font-weight: var(--fw-large);
}
h2 {
  font-size: var(--f-medium);
  font-weight: var(--fw-large);
}
h3 {
  font-size: var(--f-medium);
  font-weight: var(--fw-normal);
}
img {
  width: 100%;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-align {
  display: flex;
  align-items: center;
}
.flex-justify-between {
  display: flex;
  justify-content: space-between;
}
.cards {
  display: grid;
  margin: 3rem;
  gap: 2rem;
  grid-template-areas:
    "create social social schedule"
    "create social social schedule"
    "write manage maintain schedule"
    "write growth followers followers";
}
.card {
  padding: 2rem;
  gap: 1rem;
}
.card:nth-child(1) {
  grid-area: create;
  background-color: var(--Yellow-100);
  & em {
    color: var(--Purple-500);
  }
  & button {
    background-color: var(--Yellow-500);
    border-radius: 15px;
    font-weight: bold;
    border: none;
    display: flex;
    color: var(--Purple-500);
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
}
.card:nth-child(2) {
  grid-area: social;
  text-align: center;
  background-color: var(--Purple-500);
  color: var(--White);
  & .yellow {
    color: var(--Yellow-500);
  }
  & img {
    max-width: 30%;
  }
}
.card:nth-child(3) {
  grid-area: schedule;
  background-color: var(--Purple-100);
  padding-right: 0;
  font-weight: bold;
  & img {
    aspect-ratio: 0.7;
    border-radius: 0;
  }
}
.card:nth-child(4) {
  grid-area: write;
  background-color: var(--Yellow-500);
}
.card:nth-child(5) {
  grid-area: manage;
  background-color: var(--White);
}
.card:nth-child(6) {
  grid-area: growth;
  background-color: var(--White);
}
.card:nth-child(7) {
  grid-area: maintain;
  background-color: var(--Yellow-500);
}
.card:nth-child(8) {
  grid-area: followers;
  background-color: var(--Purple-500);
  color: var(--White);
  & img {
    width: 40%;
  }
}
.card {
  border-radius: 15px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
